<!-- <div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-2xl font-bold">Welcome to Rezuu</h1>
  <div class="flex flex-col items-center justify-center">
    <router-outlet></router-outlet>
  </div>
</div> -->

<main>
  <div class="flex flex-col min-h-screen">
    <nav class="bg-white shadow-sm">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex ml-auto">
          <a
            routerLink="/how-it-works"
            class="text-[#ff7f50] py-6 px-5 text-lg hover:text-primary transition-colors"
            >How It Works</a
          ><a
            routerLink="/pricing"
            class="text-secondary py-6 px-5 text-lg hover:text-primary transition-colors"
            >Pricing</a
          >
        </div>
      </div>
    </nav>
    <div class="flex flex-col md:flex-row flex-1">
      <div class="flex-1 p-6 md:p-8">
        <div class="text-center mb-6">
          <div class="relative w-full max-w-lg mx-auto h-64">
            <img
              alt="Rezuu Logo"
              decoding="async"
              data-nimg="fill"
              class="object-contain"
              src="images/rezuu-main-logo.svg"
              style="
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 0px;
                color: transparent;
              "
            />
          </div>
        </div>
        <div class="text-center mb-8">
          <p class="mb-2">
            Your experience and qualifications don't deserve to be boxed into
            the traditional resume and cover letter format. Plus... Cover
            Letters are in the Past. Join the next wave.
          </p>
          <p>~Rezuu Team</p>
        </div>
        <div class="flex justify-center mb-8">
            <router-outlet></router-outlet>
        </div>
      </div>
      <div class="flex-1 p-6 md:p-8 bg-white">
        <div class="flex flex-col h-full justify-center items-center">
          <div class="relative w-full max-w-md h-64 md:h-96">
            <img
              alt="Rezuu Sunset"
              decoding="async"
              data-nimg="fill"
              class="object-cover"
              src="images/wave-loop-sunset.jpeg"
              style="
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 0px;
                color: transparent;
              "
            />
          </div>
          <div class="mt-8 italic text-center">
            <p class="text-lg mb-2">
              "Writing and reading Cover Letters, Ain't nobody got time for
              that"
            </p>
            <p>~ Ancient Proverb</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
