<main>
  <div class="flex flex-col min-h-screen">
    <nav class="bg-white shadow-sm lg:shadow-none">
      <div
        class="container mx-auto flex justify-between items-center px-2 lg:px-0"
      >
        
        <a routerLink="/" class="py-2"
          >
          @if(!isAuthRoute){
            <img
            alt="Rezuu Logo"
            loading="lazy"
            width="50"
            height="50"
            decoding="async"
            class="h-12 w-auto"
            src="images/rezuu-logo-without-slogan.png"
            style="color: transparent"
        />
          }
          </a>
        
        <div class="flex">
          <a
            routerLink="/how-it-works"
            class="text-secondary py-6 px-5 text-lg hover:text-primary transition-colors"
            >How It Works</a
          ><a
            routerLink="/pricing"
            class="text-secondary py-6 px-5 text-lg hover:text-primary transition-colors"
            >Pricing</a
          >
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <div class="bg-primary-600 text-white">
      <div class="container mx-auto py-12 px-6 md:px-8">
        <div class="flex flex-col md:flex-row">
          <div class="flex-1 mb-8 md:mb-0">
            <h2 class="text-4xl md:text-5xl font-bold mb-2">
              Your Qualifications
            </h2>
            <h2 class="text-4xl md:text-5xl font-bold mb-2">Your Expertise</h2>
            <h2 class="text-4xl md:text-5xl font-bold mb-2">Your Skills</h2>
            <h2 class="text-4xl md:text-5xl font-bold mb-2">Your Story</h2>
            <p class="mt-4 max-w-xl">
              Share your expertise and skills with the job market. Go beyond a
              cover letter, and let your story mark your first impression with
              professional networks.
            </p>
          </div>
          <div class="flex-1"></div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
