<div class="flex flex-col items-center justify-center h-screen">
  <button
    pButton
    type="button"
    label="Upload Profile Image"
    (click)="onProfileImageUpload()"
  ></button>
  Hi, {{ user()?.email }}
  <pre>{{ userDoc() | json }}</pre>
</div>
<app-files-upload
  [uploadFolderName]="user()?.uid ?? 'undefined'"
  [visible]="uploadModalVisible()"
  [title]="uploadModalTitle()"
  [description]="uploadModalDescription()"
  [allowMultiple]="uploadModalAllowMultiple()"
  [accept]="uploadModalAccept()"
  [maxFiles]="uploadModalMaxFiles()"
  (onCancel)="onModalCancel()"
  (onFilesUploaded)="onModalFilesUploaded($event)"
></app-files-upload>
