<div class="flex flex-col gap-4">
  <h1 class="text-xl font-bold">Forgot Password</h1>
  <p class="text-center text-gray-600">Enter your email address and we'll send you a link to reset your password.</p>
  
  <form
    class="flex flex-col gap-4 w-full max-w-md"
    [formGroup]="form"
    (ngSubmit)="resetPassword()"
  >
    <div class="flex flex-col gap-2 w-full">
      <input
        pInputText
        type="email"
        placeholder="Email"
        formControlName="email"
        class="w-full"
      />
      @if (form.get('email')?.touched && form.get('email')?.errors?.['required']) {
        <small class="text-red-500">
          Email is required
        </small>
      }
      @if (form.get('email')?.touched && form.get('email')?.errors?.['email']) {
        <small class="text-red-500">
          Please enter a valid email
        </small>
      }
    </div>

    <p-button
      styleClass="w-full"
      [disabled]="!form.valid || isLoading()"
      label="Send Reset Link"
      type="submit"
      [loading]="isLoading()"
      class="w-full"
    >
    </p-button>
  </form>

  <div class="flex flex-col items-center gap-2">
    <p>
      Remember your password?
      <a class="text-secondary font-semibold" [routerLink]="['/auth/login']">Sign In</a>
    </p>
    <p>
      Don't have an account?
      <a class="text-secondary font-semibold" [routerLink]="['/auth/register']">Register</a>
    </p>
  </div>
</div>
