<div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-xl font-bold">Sign Up</h1>
    <form class="flex flex-col items-center justify-center gap-4" [formGroup]="form" (ngSubmit)="signUp()">
        <input pInputText type="text" placeholder="First Name" formControlName="firstName" />
        <input pInputText type="text" placeholder="Last Name" formControlName="lastName" />
        <input pInputText type="email" placeholder="Email" formControlName="email" />
        <input pInputText type="password" placeholder="Password" formControlName="password" />
        <p-button [disabled]="!form.valid" label="Sign Up" type="submit"></p-button>
    </form>
    <p>Already have an account? <a class="text-primary font-semibold" href="/auth/login">Sign In</a></p>
</div>
